.btn {
  cursor: pointer;
  background-color: #177fa4;
  border: 0;
  color: #fff;
  border-radius: 32px;
  outline: 0;
  z-index: 0;
  padding: 16px 32px;
  font-size: 30px;
  margin: 0 16px 16px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn__playing {
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #1f92bb;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#7395f9, #7395f9),
      linear-gradient(#fff, #fff), linear-gradient(#7395f9, #7395f9),
      linear-gradient(#fff, #fff);
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #177fa4;
    border-radius: 20px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
