.btn {
  cursor: pointer;
  background-color: #177fa4;
  border: 0;
  color: #fff;
  border-radius: 32px;
  outline: 0;
  // border: 8px solid #fff;
  padding: 16px 32px;
  font-size: 30px;
  margin: 0 16px 16px 0;
  position: relative;
  z-index: 1;
}

@keyframes animate {
  0% {
    box-shadow: inset 0 0 0 3px red;
  }

  50% {
    box-shadow: inset 0 0 0 3px gray;
  }

  100% {
    box-shadow: inset 0 0 0 3px red;
  }
}

.content {
  position: relative;
  z-index: 2;
}

.btn__loading::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;

  border-radius: 32px;

  background: repeating-linear-gradient(
    white 0%,
    white 7.5px,
    hotpink 7.5px,
    hotpink 15px,
    white 15px,
    white 22.5px,
    hotpink 22.5px,
    hotpink 30px
  );
  // transform: translateX(-20%) translateY(-20%) rotate(-45deg);

  animation: animate 20s linear infinite;
}
